<%= form_for(@flight) do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from_airport %><br />
    <%= f.text_field :from_airport %>
  </div>
  <div class="field">
    <%= f.label :to_airport %><br />
    <%= f.text_field :to_airport %>
  </div>
  <div class="field">
    <%= f.label :takeoff_at %><br />
    <%= f.datetime_select :takeoff_at %>
  </div>
  <div class="field">
    <%= f.label :landing_at %><br />
    <%= f.datetime_select :landing_at %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
